/* uptobottom */
.stol-enter ,.stol-leave-to{
  height: 0;
}
.stol-enter-active ,.stol-leave-active{
  transition: height 3s linear
}
.stol-enter-to, .stol-leave{
  height: 3rem;
}
/* 上下滑动 */
.btot-enter ,.btot-leave-to{
  transform: translate(0,100%);
}
.btot-enter-active ,.btot-leave-active{
  transition: transform 0.3s linear
}
.btot-enter-to, .btot-leave{

  transform: translate(0,0);
}
/* deleteitem */
/* .del-leave-active,.del-enter-active{

  transition: all .3s linear
}
.del-leave,.del-enter-to{
  opacity: 1;
  transform: translateX(0);
}
.del-leave-to{
  opacity: 0;
  transform: translateX(-100%);
}
.del-enter{
  opacity: 0;
  transform: translateX(100%);
} */
/* 左滑动 */
.ltor-enter ,.ltor-leave-to{
  transform: translate(0,0);
}
.ltor-enter-active ,.ltor-leave-active{
  transition: transform 0.3s linear
}
.ltor-enter-to, .ltor-leave{
  transform: translate(100%,0);
}
/* 右滑动 */
.rtol-enter ,.rtol-leave-to{
  transform: translate(0,0);
}
.rtol-enter-active ,.rtol-leave-active{
  transition: transform 0.3s linear
}
.rtol-enter-to, .rtol-leave{
  transform: translate(100%,0);
}
/* 淡进淡出 */
.close-enter-active, .close-leave-active {
  transition: opacity 1s;
}
.close-enter, .close-leave-to{
  opacity: 0;
}
/* 删除item */
.del-leave-active {
  position: absolute;
}
.del-enter, .del-leave-to{
  opacity: 0;
  transform: translateX(-50px);
}
.del-move{
  transition: all 1s;
}
.del-lenter-active,.del-leave-active {
	transition: all 1s;
}
